<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/skills.css">
  <title>Skill <%= skill %> </title>
</head>
<body>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Skill #<%= skill._id %>: <%= skill.skill %></h2>
    <p> Did I start learning this at GA? </p><p><%= skill.fromSeir ? 'Yeah! Learned this in the last 4 weeks!' : 'Nope, I started learning this language before the program!' %></p>
  <% } %>
	<a href="/skills">Go back</a>
</body>
</html>